fastapi[standard]
black 
autoflake 
isort 
vulture
uvicorn
openai
pinecone[grpc]
crawl4ai
google-genai
python-dotenv
fastembed
sentence-transformers
pinecone-text
playwright
pydantic-settings
pydantic
openai
pinecone
pinecone[grpc]
pinecone[asyncio]
bson
motor